/* page container */
.page-container{
    position: relative;
    display: flex;
    width:100%;
}
/* page  */
.section{
    position:relative;
    background-color: var(--w_bg2);
}

/* slide header  */
.slide-header{
    height:100vh;
    flex-grow:3;
    margin-right:0.5rem;
    background-color: var(--w_bg1);
    box-shadow:0px 0px 5px 0px rgb(198, 195, 195);
    position: relative;
    transition:.5s linear;
}
.slide-header-active{
    transform: translateX(0px) !important;
}
.slide-title{
    position:relative;
    font-size:2rem;
    margin:2rem auto;
    width:150px;
    height:10%;
    text-align: center;
}

.slide-title span{
    font-size:1.6rem;
    width:100%;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.border-top{
    width:30%;
    height:50%;
    top:0;
    border-top:5px solid var(--accessory);
    border-left:5px solid var(--accessory);
}
.border-bottom{
    position:absolute;
    width:30%;
    height:50%;
    right:0;
    border-bottom:5px solid var(--accessory);
    border-right:5px solid var(--accessory);
}
.slide-nav{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}

.slide-nav-item{
    display: flex;
    align-items: center;
    gap:1rem;
    padding:0 1rem;
    margin:1.5rem;
    padding-bottom:0.5rem;
    border-bottom:2px solid var(--w_bg2);
    cursor: pointer;
}
.slide-nav-item:hover *{
    color:var(--accessory);
}
.slide-nav-item:hover {
    border-bottom:2px solid var(--accessory);
}